<header>
  <% if (!user) { %>
    <nav class="navbar navbar-expand-sm flex-wrap navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><i class="fa-brands fa-buysellads fa-2xl"></i></a>
    <div class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link login" href="/login">Login</a>
          <a class="nav-item nav-link register" href="/register">Register</a>
          <a class="nav-item nav-link" href="/listings/search">Search</a>
        </div>
      </div>
    </nav>



  <% } else { %>
    <nav class="navbar navbar-expand-sm flex-wrap navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><i class="fa-brands fa-buysellads fa-2xl"></i></a>
      <div class=" navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link login" href="/login/logout">Logout</a>
          <a class="nav-item nav-link" href="/listings/favorites">Favorites</a>
          <a class="nav-item nav-link" href="/listings">My Listings</a>
          <a class="nav-item nav-link" href="/mailbox">Mailbox</a>
          <a class="nav-item nav-link" href="/listings/create">Create Listing</a>
          <a class="nav-item nav-link" href="/listings/search">Search</a>
        </div>
      </div>
    </nav>

  <% } %>
</header>
