<header>
  <nav>
    <ul>
      <li class="logo">Buy/sell</li>
      <li class="home">Home</li>
      <li class="search_button">Search</li>
      <li class="my_listings">My Listings</li>
      <li class="create_listing">Create Listing</li>
      <li class="mailbox">Mailbox</li>
      <li class="login">Login</li>
      <li class="register">Register</li>
    </ul>
  </nav>
</header>