<header>
  <nav>
    <ul>
      <a class="logo" href="/createRout">Buy/sell</a>
      <a class="home" href="/">Home</a>
      <a class="search_button" href="/users/search">Search</a>
      <a class="my_listings" href="/manage">My Listings</a>
      <a class="create_listing" href="/create">Create Listing</a>
      <a class="mailbox" href="/users/mailbox">Mailbox</a>
      <a class="login" href="/login">Login</a>
      <a class="register" href="/register">Register</a>
    </ul>
  </nav>
</header>