header nav {
  position: fixed;
  top: 0px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: rgb(97, 108, 112);
  height: 100px;
  width: 100vw;
}

.logo {

}
