<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main class="listing_container">

    <!-- dummy listings -->
    <div class="listing-container">
      <header>
        <div class="title">Bananas</div>
        <div class="price">$5</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/bunch-bananas-isolated-on-white-260nw-1722111529.jpg">
      <footer>
        <div class="posted_at">10 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Cherries</div>
        <div class="price">$10</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/cherry-isolated-on-white-cherries-260nw-1392023051.jpg">
      <footer>
        <div class="posted_at">20 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Bananas</div>
        <div class="price">$5</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/bunch-bananas-isolated-on-white-260nw-1722111529.jpg">
      <footer>
        <div class="posted_at">10 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Cherries</div>
        <div class="price">$10</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/cherry-isolated-on-white-cherries-260nw-1392023051.jpg">
      <footer>
        <div class="posted_at">20 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Bananas</div>
        <div class="price">$5</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/bunch-bananas-isolated-on-white-260nw-1722111529.jpg">
      <footer>
        <div class="posted_at">10 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Cherries</div>
        <div class="price">$10</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/cherry-isolated-on-white-cherries-260nw-1392023051.jpg">
      <footer>
        <div class="posted_at">20 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Bananas</div>
        <div class="price">$5</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/bunch-bananas-isolated-on-white-260nw-1722111529.jpg">
      <footer>
        <div class="posted_at">10 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Cherries</div>
        <div class="price">$10</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/cherry-isolated-on-white-cherries-260nw-1392023051.jpg">
      <footer>
        <div class="posted_at">20 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Bananas</div>
        <div class="price">$5</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/bunch-bananas-isolated-on-white-260nw-1722111529.jpg">
      <footer>
        <div class="posted_at">10 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Cherries</div>
        <div class="price">$10</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/cherry-isolated-on-white-cherries-260nw-1392023051.jpg">
      <footer>
        <div class="posted_at">20 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Bananas</div>
        <div class="price">$5</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/bunch-bananas-isolated-on-white-260nw-1722111529.jpg">
      <footer>
        <div class="posted_at">10 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>

    <div class="listing-container">
      <header>
        <div class="title">Cherries</div>
        <div class="price">$10</div>
      </header>
      <img src="https://www.shutterstock.com/image-photo/cherry-isolated-on-white-cherries-260nw-1392023051.jpg">
      <footer>
        <div class="posted_at">20 mins ago</div>
        <div class="favorite">☆</div>
        <div class="contact">✉</div>
      </footer>
    </div>
  </main>
  <%- include('partials/_footer') %>
</body>

</html>