<!-- ERIJROIE -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

   <!-- Font-awesome icons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <%- include('partials/_header') %>
  <!-- <main>
   <div class="listing_container">
      <h1>Bananas</h1>
      <div class="asking-price">$5</div>
      <div class="condition">Excellent</div>
      <img src="https://www.shutterstock.com/image-photo/bunch-bananas-isolated-on-white-260nw-1722111529.jpg">
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus, risus ac tincidunt dignissim, lorem dolor tempus justo, a suscipit nisi augue semper dui. Curabitur a est justo. Donec in ex quis lectus placerat luctus. Vivamus ac mollis ipsum, a congue nisi. Phasellus commodo, velit nec fermentum pretium, lorem lectus egestas dolor, in hendrerit quam lacus a turpis. Donec ultricies lorem et urna dignissim, ut tristique nulla cursus. In et purus eget ipsum tempor sagittis. Proin sed lobortis felis. Aenean massa elit, gravida a ipsum sed, pretium ultricies est. Praesent cursus lacinia mattis. Mauris non elit rutrum, malesuada eros in, efficitur augue. Nullam arcu nibh, facilisis et iaculis nec, consectetur vitae ligula.

      NO LOWBALLERS
      </p>
      <div class="date-posted">December 25, 2009</div>
      <div class="icon-container">nini
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
    </div>
  </main> -->

  <!-- <main>
    <div class="card listing-container">
      <img src="https://www.shutterstock.com/image-photo/bunch-bananas-isolated-on-white-260nw-1722111529.jpg" class="card-img-top" alt="Bananas">
      <div class="card-body">
        <h5 class="card-title">Bananas</h5>
        <div class="d-flex justify-content-between">
          <h6 class="card-subtitle mb-2 text-muted asking-price">$5</h6>
          <small class="text-muted date-posted">December 25, 2009</small>
        </div>
        <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus, risus ac tincidunt dignissim, lorem dolor tempus justo, a suscipit nisi augue semper dui. Curabitur a est justo. Donec in ex quis lectus placerat luctus. Vivamus ac mollis ipsum, a congue nisi. Phasellus commodo, velit nec fermentum pretium, lorem lectus egestas dolor, in hendrerit quam lacus a turpis. Donec ultricies lorem et urna dignissim, ut tristique nulla cursus. In et purus eget ipsum tempor sagittis. Proin sed lobortis felis. Aenean massa elit, gravida a ipsum sed, pretium ultricies est. Praesent cursus lacinia mattis. Mauris non elit rutrum, malesuada eros in, efficitur augue. Nullam arcu nibh, facilisis et iaculis nec, consectetur vitae ligula. NO LOWBALLERS</p>
        <div class="d-flex justify-content-between">
          <p class="card-text condition"><small class="text-muted">Condition:</small> Excellent</p>
          <div class="icon-container">
            <i class="far fa-star"></i>
            <i class="far fa-envelope"></i>
          </div>
        </div>
      </div>
    </div>
  </main> -->

</body>

</html>
