<!-- ERIJROIE -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
  integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/helpers.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/mailbox.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main class="mailbox-container">

    <sidebar class="inbox-container">
      <h3>From Buyers</h1>
      <ul class="buyer-query">
        <li>
          <span class="buyer-email">bsmith@gmail.com</span><br>
          listing id: <span class="listing-id">3</span>
        </li>
      </ul>
      <h3>To Sellers</h1>
      <ul class="to-seller">
        <li>
          <span class="seller-email">jdoe@gmail.com</span><br>
          listing id: <span class="listing-id">2</span>
        </li>
      </ul>
    </sidebar>

    <div class="messages-interface">

      <h1 class="conversation-with">Conversation with <span class="user-name">John Doe</span></h1>
      <p>Phone number: <span class="phone-number">604-604-7788</span><br>
         e-mail: <span class="email">Johnny@doe.com</span><br>
         user ID: <span class="user-id">2</span>
      </p>
      <!--Message Form-->
      <form action="/api/mailbox" method="post" class="response-box">
        <input type="hidden" name="listing_id" value="<%= listing_id %>">
        <div class="response-form">
          <textarea
            name="message"
            placeholder="Type your response here"
            cols="100"
            rows="3"></textarea>
        </div>
        <div>
          <button type="submit" name="submit">Submit</button>
        </div>
      </form>

      <div class="messages-container">
        <!-- this container will be populated dynamically where messages are found between a buyer and seller -->
      </div>


    </div>
  </main>
</body>
</html>
