<!-- ERIJROIE -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main class="mailbox-container">

    <sidebar class="inbox-container">
      <ul class="inbox">
        <li>John Doe<br>Bananas</li>
        <li>Betty Smith<br>Cherries</li>
        <li>James Ping<br>Bananas</li>
      </ul>
    </sidebar>

    <div class="messages-interface">

      <h1 class="conversation-with">Conversation with John Doe</h1>
      <p class="user-details">Phone number: 604-604-7788 <br> e-mail: Johnny@doe.com</p>

      <form action="" method="post" class="response-box">
        <div class="response-form">
          <textarea 
            name="message" 
            placeholder="Type your response here"
            method="POST"
            cols="100"
            rows="3"></textarea>
        </div>
        <div>
          <!-- this button will submit the form data to the server it will be stored inside req.body.message -->
          <button type="send" >Submit</button>
        </div>
      </form>

      <div class="messages-container">
        <!-- placeholder messages -->
        <article class="message-container">
          <div class="sender-name">John Doe</div>
          <p>
            I can come pick up on Sunday.
          </p>
          <div class="sent-at">1 hour ago</div>
          <!-- Should only dynamically create a respond button for most recent message and  -->
          <button type="submit">Respond</button>
        </article>
        
        <article class="message-container">
          <div class="sender-name">You</div>
          <p>
            I have three bunches available.
          </p>
          <div class="sent-at">3 hours ago</div>
        </article>

        <article class="message-container">
          <div class="sender-name">John Doe</div>
          <p>
            Hello, I would like to buy some bananas please.
          </p>
          <div class="sent-at">6 hours ago</div>
        </article>
      </div>

    </div>
  </main>
  <%- include('partials/_footer') %>
</body>

</html> 