<!-- ERIJROIE -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main class="listing_container">

    <form action="/register" method="post" class="registration-form">
      <div class="registration-wrapper">
        <label for="Name">Name</label>
        <input type="text" name="Name" placeholder="Name">
      </div>
      
      <div class="registration-wrapper">
        <label for="email">email</label>
        <input placeholder="user@example.com" name="email" type="email"></input>
      </div>

      <div class="registration-wrapper">
        <label for="password">Password</label>
        <input placeholder="password" type="password" name="password">
      </div>
      
      <div class="registration-wrapper">
        <label for="confirm-password">Confirm Password</label>
        <input placeholder="password" type="password" name="confirm-password">
      </div>

      <div class="registration-wrapper">
        <label for="phone-number">Phone Number</label>
        <input placeholder="(XXX)-XXX-XXXX" type="tel" name="phone-number"  pattern="[0-9]{3}=[0-9]{3}-[0-9]{4}">
      </div>

      <div class="registration-wrapper">
        <label for="city">City</label>
        <input placeholder="City" type="text" name="city">
      </div>
  </main>
  <%- include('partials/_footer') %>
</body>

</html> 