.search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

#search_form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.row {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: #80bdff;
  }
}

#search_button {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}
